*{
    margin: 0px;
    padding: 0px;
}


.zone-option{
    width:80% !important;
}

.box-option{
    margin: 0px auto;
}

.user-option{
    margin: 1.6%;
    width: 30.1% ;
    height: auto;
    border: 2px solid;
    box-shadow: 2px 5px 5px #f3f3f3;
}

.user-option a{
    text-decoration: none;
}

