{% extends 'base.html' %} {% block content %}

<div class="container">
    <center>
        <h1>Your Dataset</h1>
        <table class="table">
            <thead>
                <tr>
                    {%for i in range(0, m)%}
                    <th>Col {{i}}</th>
                    {%endfor%}
                </tr>
            </thead>
        </table>
        <div class="dataset" style="overflow: scroll; height: 500px;">
            {{ data | safe }}
        </div>
            <form id="form" action="SVM/result" method="post">
                <div class="custom-control custom-checkbox">
                    <p><strong>
                            <h3>Select 2 columns then clustering</h3>
                        </strong></p>
                    {%for i in range(0, m)%}
                    <input class="single-checkbox" type="checkbox" name="cot" value={{i}}><span>Column:
                    {{i}}</span> {%endfor%}
                </div>


                <div class="custom-control custom-checkbox">
                    <p><strong>
                            <h3>Select 1 columns is target</h3>
                        </strong></p>
                    {%for i in range(0, m)%}
                    <input class="single-checkbox" type="checkbox" name="cot" value={{i}}><span>Column:
                        {{i}}</span> {%endfor%}
                </div>

                <input type="submit" class="btn btn-success mt-3" value="Classify">
            </form>

<img src="{{ url }}" alt="Chart" height="auto" width="500px"> 


</div>

{% endblock %}