 {% extends 'base.html' %} {% block content %}

<div class="jumbotron text-center ">
    <div class="row">
        <div class="col l-6 m-12 c-12 wow">
            <h1 class="display-6 font-weight-bold">WE HAVE CLASSIFY SOLUTION OF OBESITY PREDICTION</h1>
            <p>We provide classification solution by Decision Tree algorithm</p>
            <!-- <button type="button" class="button btn btn-warning">Start Graph</button> -->
        </div>
        <div class="col l-6 m-12 c-12">
            <!-- <img src="../static/images_web_content/spbgbanner1.png" class="img-fluid" alt="Responsive image"> -->
            <!-- <img src="./spbgbanner1.png" alt=" sizes = "(max-width : 583px)" > -->
        </div>
    </div>

</div>


<div class="container-fluid padding">
    <div class="row wellcome text-center">
        <div class="col-12">
            <h1 class="display-4 font-weight-normal">PREDICT OBESITY NOW</h1>
        </div>
        <div class="col-12">
            <h5></h5>
        </div>
    </div>
</div><br>

<div class="container padding">
    <div class="row text-center">
        <div class="col-sm-12">
            <!-- <div data-wow-delay="0.1s" class="wow zoomInRight" style="animation-duration: 1.5s !important;"> -->
                <div>
                    <div class="card-body ">
                        <h5 class="card-title" style="color: #f8b4da;">Decision Trees Algorithm</h5>
                        <p class="card-text text-dark">A decision tree is a decision support tool that uses a tree-like model of decisions and their possible consequences, including chance event outcomes, resource costs, and utility. It is one way to display an algorithm that only contains conditional control statements.</p>
                        <a href="DecisionTree" class="button btn btn-primary animated pulse">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- Footer -->
        <footer>
        </footer>



        <script>
            new WOW().init();
        </script>

        {% endblock %}