<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>
                CBS.com Classify by SVM
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="index.css" type="text/css">
    
    </head>
    <body>

        <div>
            <div class = "container pt-3 pb-3" >
                <div class = "row" >
                    <div class="col-sm-3 ">Logo here</div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 text-right"><a href="login.php" style="color:darkslategrey">Login</a> &nbsp; &nbsp; <a href="register.php" style="color:darkslategrey">Register</a></div>
                </div>
            </div>
        </div>
        <div class = "container-fluid pt-3 pb-5">
            <div class="jumbotron text-center">
                    <h1>CBS.com WE HAVE SVM for YOU</h1>
                    <p>We provide classification solution by SVM</p> 
            </div>
        </div>



        <div class = "container pt-3 pb-5">
                <div class = "row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 align-self-center"><p>Build, Train and Deploy data classifiers.
                                You no coding or data science experience and you want start now.
                                we have your email here.</p></div>
                        <div class="col-sm-3"></div>
                </div>
                <div class = "row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 text-center" >BOX EMAIL HERE</div>
                        <div class="col-sm-3"></div>
                </div>
        </div>


        <div class = "container pt-4 pb-5" >
                <div class = "row">
                        <div class="col-sm-12 text-center" ><h1>Start your project</h1></div>
                </div>
        </div>
        <div class = "container zone-option">
            <div class = "row box-option ">
                <div class="col-md-4 text-center user-option "><h3>I am a General User</h3>
                    Click here if you are a General User. Upload the data and we will give you the result.
                <a href="SVM"> Upload file</a></div>
                <div class="col-md-4 text-center user-option "><h3><strong>I am a Developer</strong></h3></br></div>
                <div class="col-md-4 text-center user-option "><h3><strong>We Are Support Teams</strong></h3></div>
            </div>
        </div>


        <div class = "container pt-5 pb-5">
                <div class = "row">
                        <div class="col-sm-12 text-center" ><h4>Chổ này có cái sơ đồ bự lắm biểu thị các bước bla bla</h4></div>
                </div>
        </div>

        <div class = "container pt-5 pb-5">
                <div class = "row">
                        <div class="col-sm-4 text-center" >Có cái hình ở đây</div>
                        <div class="col-sm-8 text-right" >Chổ này là hướng dẫn upload file, rất nhiều chữ </div>
                </div>
        </div>

        <div class = "container pt-5 pb-5">
                <div class = "row"> 
                        <div class="col-sm-4 text-center" >Có cái hình ở đây</div>
                        <div class="col-sm-8 text-right" >Chổ này là hướng dẫn upload file, rất nhiều chữ </div>
                </div>
        </div>

        <div class = "container pt-5 pb-5">
                <div class = "row">
                        
                        <div class="col-sm-4 text-center" >Có cái hình ở đây</div>
                        <div class="col-sm-8 text-right" >Chổ này là hướng dẫn upload file, rất nhiều chữ </div>
                </div>
        </div>

        <div class = "container pt-5 pb-5">
                <div class = "row">
                   
                        <div class="col-sm-4 text-center" >Có cái hình ở đây</div>
                        <div class="col-sm-8 text-right" >Chổ này là hướng dẫn upload file, rất nhiều chữ </div>
                </div>
        </div>

        <div class = "container pt-5 pb-5">
                <div class = "row">

                        <div class="col-sm-4 text-center" >Có cái hình ở đây</div>
                        <div class="col-sm-8 text-right" >Chổ này là hướng dẫn upload file, rất nhiều chữ </div>
                </div>
        </div>
        <div>
            <div class="container-fluid">
                <div class="col-sm-12"></div>
            </div>
        </div>

    </body>
</html>